<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>

<div id="container">


    <div id="carrossel">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            
            <div class="carousel-inner">

                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="../static/robotista.jpg" class="d-block w-100">
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <img src="../static/eletronica2.jpg" class="d-block w-100">
                </div>

                <div class="carousel-item">
                    <img src="../static/cursos-tecnicos.jpg" class="d-block w-100">
                </div>

            </div>
        </div>
    </div>


    <div id="corpo">


        <form id="login-box" action="/estoque" method="GET">

            <img src="../static/senai2.png" id="logo">

            <div class="mb-3">
                <label>Usuário:</label>
                <input type="text" class="form-control" placeholder="Digite seu Nome" required>
            </div>

            <div class="mb-3">
                <label>E-mail:</label>
                <input type="email" class="form-control" placeholder="Digite seu E-mail" required>
            </div>

            <div class="mb-3">
                <label>Senha:</label>
                <input type="password" class="form-control" placeholder="Digite sua Senha" required>
            </div>


            <div id="botao_usu_adm">

                <input type="radio" class="btn-check" name="tipo" id="usuario" checked>
                <label class="btn btn-secondary" for="usuario">Usuário</label>

                <input type="radio" class="btn-check" name="tipo" id="admin">
                <label class="btn btn-secondary" for="admin">Admin</label>



            </div>

            <br>


            <button type="submit" class="btn btn-primary w-100 mb-2">
                Entrar
            </button>

            <p style="text-align: center;">
                <br>Não tem conta?
            </p>

            <button onclick="window.location.href='/cadastrar.html'" type="button" class="btn btn-success w-100">
                Cadastrar-se
            </button>

        </form>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
