html, body {
    height: 100%;
    margin: 0;
    
}

#container {
    display: flex;
    height: 100vh;

}

#carrossel {
    width: 70%;
    

}

#carrossel img {
    height: 100vh;
    object-fit: cover;
}
#carrossel::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    pointer-events: none;
}

#corpo {
    background: linear-gradient( 45deg, #365AEB, #192a6b, #101B47);
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-box {
    font-family: "Courier New", Courier, monospace;
    color: #ff9500;
    width: 300px;

}

#login-box h2 {
    color: #000;
    font-weight: bold;
}

#login-box button {
    background-color: #6c63ff;
}

#login-box button:hover {
    background-color: #ff9500;
}

#login-box .btn-success {
    background-color: #192a6b;
    border: none;
    font-weight: bold;
}

#login-box .btn-success:hover {
    background-color: #ff9500;
}

#logo {
    display: block;
    position: relative;
    right: 40px;
    margin: 0 auto 20px;    
    width: 350px;
}

#botao_usu_adm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*TABELA SQL*/


